<div class="container">
    <div class="row">
        <div class="col-md-5 mt-5 card p-5 offset-3 mb-5">
            <form #ngForm (ngSubmit)="onSubmit()">
                <input type="name" class="form-control mb-3" name="username" [(ngModel)]="user.username"
                    placeholder="Username" required="" />
                <input type="text" class="form-control mb-3" name="profileURL" [(ngModel)]="user.profileURL"
                    placeholder="https://google.com/images/person.jpg" required="" />
                <input type="text" class="form-control mb-3" name="country" [(ngModel)]="user.country"
                    placeholder="Country" required="" />
                <input type="number" class="form-control mb-3" name="phone" [(ngModel)]="user.phone"
                    placeholder="+2340482048023" required="" />
                <input type="email" class="form-control mb-3" name="email" [(ngModel)]="user.email"
                    placeholder="example@gmail.com" required="" />
                <div class="password_container">
                    <input type="password" class="form-control mb-3" name="password" [(ngModel)]="user.password"
                        placeholder="Password" required="" />
                    <i class="bi bi-password"></i>
                </div>

                <div class="password_container">
                    <h5 *ngIf="IsFetching" class="errorOutput">Fetching User</h5>
                    <h5 *ngIf="error?.message != null" class="errorOutput">
                        {{error?.message}}
                    </h5>
                </div>

                <div class="remember_me">
                    <input type="checkbox" name="checkbox" (ngModel)="IsRememberMe" (change)="toggleChoice()"
                        class="form-check" />
                    <label for="checkbox">Remember Me</label>
                </div>

                <div class="button_container">
                    <button type="submit" class="btn">
                        SignUp
                    </button>
                </div>
                <div class="reg">
                    <p>Already Have An Account</p>
                    <a class="reg_btn" routerLink="/Login">
                        Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>