<div class="productDetailsContainer" *ngIf="product != undefined">
    <div class="productLeft">
        <div class="productContainer card p-3">
            <div class="productImg">
                <img [src]="product.img" [alt]="product.title" />
                <h5>{{product.title}}</h5>
                <p>{{product.desc}}</p>
            </div>
            <div class="details">
                <div class="cartQuantity">
                    <div class="button" (click)="handleQuantityIncreaseORDecrease('decrement')">
                        <button class="icon">
                            <svg class="plus-cart-item" xmlns="http://www.w3.org/2000/svg" height="1em"
                                viewBox="0 0 448 512">
                                <path
                                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                            </svg>
                        </button>
                    </div>
                    <h4 class="card quantityPadding"> {{productQuantity}} </h4>
                    <div class="button" (click)=" handleQuantityIncreaseORDecrease('increment')">
                        <button class="icon">
                            <svg class="plus-cart-item" xmlns="http://www.w3.org/2000/svg" height="1em"
                                viewBox="0 0 448 512">
                                <path
                                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <form action="" class="button" #ngForm (ngSubmit)="addItemToCart()">
                    <input type="hidden" name="productId" [(ngModel)]="product._id" />
                    <input type="hidden" name="productImage" [(ngModel)]="product.img" />
                    <input type="hidden" name="productPrice" [(ngModel)]="productPrice" />
                    <input type="hidden" name="productTitle" [(ngModel)]="product.title" />
                    <input type="hidden" name="productDesc" [(ngModel)]="product.desc" />
                    <button type="submit">
                        <svg class="add-to-cart" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                            <path
                                d="M504.717 320H211.572l6.545 32h268.418c15.401 0 26.816 14.301 23.403 29.319l-5.517 24.276C523.112 414.668 536 433.828 536 456c0 31.202-25.519 56.444-56.824 55.994-29.823-.429-54.35-24.631-55.155-54.447-.44-16.287 6.085-31.049 16.803-41.548H231.176C241.553 426.165 248 440.326 248 456c0 31.813-26.528 57.431-58.67 55.938-28.54-1.325-51.751-24.385-53.251-52.917-1.158-22.034 10.436-41.455 28.051-51.586L93.883 64H24C10.745 64 0 53.255 0 40V24C0 10.745 10.745 0 24 0h102.529c11.401 0 21.228 8.021 23.513 19.19L159.208 64H551.99c15.401 0 26.816 14.301 23.403 29.319l-47.273 208C525.637 312.246 515.923 320 504.717 320zM408 168h-48v-40c0-8.837-7.163-16-16-16h-16c-8.837 0-16 7.163-16 16v40h-48c-8.837 0-16 7.163-16 16v16c0 8.837 7.163 16 16 16h48v40c0 8.837 7.163 16 16 16h16c8.837 0 16-7.163 16-16v-40h48c8.837 0 16-7.163 16-16v-16c0-8.837-7.163-16-16-16z" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="productRight">
        <div class="col-md-5">
            <div class="card p-3 justify-content-center text-secondary">
                <h5>
                    <b>Name:</b> {{product.title}}
                </h5>
                <h5>
                    <b>Price:</b> {{product.price}}
                </h5>
                <h5>
                    <b>Quantity:</b> {{productQuantity}}
                </h5>
                <h5>
                    <b>Total Amount:</b> {{totalAmountOfProduct}}
                </h5>
                <button btn btn-danger text-white (click)="checkFullPrice()">Check Full Price</button>
            </div>
        </div>
    </div>
</div>

<h4 class="suc" *ngIf="IsFetchingProduct"> Fetching Product...</h4>
<h4 class="err" *ngIf="error != null"> {{error}} </h4>
<h4 class="suc" *ngIf="message != null"> {{message}} </h4>