.productDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.productLeft,
.productRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.productContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 80%;
}

.productLeft .productImg {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.productImg img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
}

.productLeft .details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.4rem;
  width: 80%;
  height: 3.6rem;
  margin-top: 1rem;
}

.details .cartQuantity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.details .cartQuantity .button {
  margin: 0 1.3rem;
  border: none;
  outline: none;
  width: 1.5rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 6px;
  background-color: var(--primary_color);
  cursor: pointer;
}

.productLeft .details button {
  border: none;
  outline: none;
  width: 3rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 6px;
  background-color: var(--primary_color);
  cursor: pointer;
}

.details .button:nth-child(1) button {
  padding-bottom: 0.4rem;
}

.add-to-cart {
  width: 2rem;
  height: 1rem;
  fill: var(--white_color);
}

.productLeft .details .button .plus-cart-item {
  height: 100%;
  width: 100%;
  fill: var(--white_color);
  text-align: center;
  font-size: 0.5rem;
}

.productLeft .details .button .icon {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: var(--primary_color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  color: var(--white_color);
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 1rem;
  border: 1px solid gray;
  border-radius: 3px;
}
@media (max-width: 768px) {
}

@media (max-width: 600px) {
  .productLeft,
  .productRight {
    width: 100%;
    margin-top: 3rem;
  }
  .productRight {
    height: 40vh;
  }
  .productContainer {
    width: 85%;
    height: 30rem;
  }
}
