<div class="blog_container">
    <div class="blog_header">
        <h1>Blog Our Latest News</h1>
        <p>
            Have you ever browsed food blogs like mine and wondered how to start
            a food blog of your very own?
        </p>
    </div>

    <div class="blogs">
        <div class="blog">
            <img src="../../../assets/images/beans.png" alt="Beans and pap" />

            <div class="blog_description">
                <p>
                    <b>Design</b> 01 October 2019
                </p>

                <h4>Beans and pap</h4>

                <p>
                    Well cooked beans with pap.
                </p>

                <a routerLink="blog">READ MORE</a>

            </div>
        </div>

        <div class="blog">
            <img src="../../../assets/images/the-best-sesame Soy Broccoli-salad.png" alt="best sesame soy broccoli" />

            <div class="blog_description">
                <p>
                    <b>Design</b> 01 October 2019
                </p>

                <h4>The Best Sesame Soy Broccoli Salad</h4>

                <p>
                    {{ "Hello broccoli salad! Broccoli salad with a sweet and tangy dressing is my new go to for summer
                    parties." | truncate}}
                </p>

                <a routerLink="blog">READ MORE</a>

            </div>
        </div>


        <div class="blog">
            <img src="../../../assets/images/better than-takeout-kung-pao-chicken.png"
                alt="better than kung-fu pounda" />

            <div class="blog_description">
                <p>
                    <b>Design</b> 01 October 2019
                </p>

                <h4>Better Tha Takeout Kung Pan Chicken</h4>

                <p>
                    {{"This super easy version of dan dan noodles is fast, flavorful, and vegetarian to boot. It’s
                    definitely" | truncate }}
                </p>

                <a routerLink="blog">READ MORE</a>
            </div>
        </div>

        <div class="blog">
            <img src="../../../assets/images/Better-than Takeout-kung Pao-chicken.png"
                alt="better than takeout kung pao-chicken" />

            <div class="blog_description">
                <p>
                    <b>Design</b> 01 October 2019
                </p>

                <h4>Better Than Takeout Kung Pao Chicken</h4>

                <p> {{"This spicy, tangy, and sweet better than takeout no peanut kung pao chicken stir fry recipe" |
                    truncate}}
                </p>

                <a routerLink="blog">READ MORE</a>

            </div>
        </div>
    </div>
</div>