<br>
<br>
<h5 *ngIf="IsFetching" class="badge bg-danger text-white m-auto">
    Fetching cartItems...
</h5>

<h4 class="badge bg-success p-1 m-auto ml-4">{{message}}</h4>

<a *ngIf="cartItems == null" routerLink="/products" class="badge bg-danger m-auto text-white">
    No food in cart! click here to Order food.
</a>

<h4 *ngIf="error != null" class="badge bg-danger p-1 m-auto ml-4"> {{error}} </h4>
<h4 *ngIf="IsDeleting" class="badge bg-danger p-1 m-auto ml-4">Deleting...</h4>

<div *ngIf="IsMobile" class="searchFoodContainer">
    <meal-search-bar></meal-search-bar>
</div>
<div class="food_menu">

    <div class="foods" *ngIf="cartItems != null && !IsFetching">
        <div *ngFor="let cartItem of cartItems" class="food">
            <div class="food_img">
                <img [src]="cartItem.product.img" [alt]="cartItem.product.title">
            </div>

            <div class="food_description">
                <h4> {{cartItem.product.desc}} </h4>
                <p> {{cartItem.product.title}} </p>
                <div class="cart">
                    <h3>
                        <i class="fa-solid fa-naira-sign"></i>
                        <span> {{cartItem.product.price}} </span>
                    </h3>
                    <a class="btn btn-small bg-danger" (click)="deleteCartItem(cartItem._id!)">
                        <i class="fa-solid fa-trash text-white"></i>
                    </a>
                    <button (click)="order(cartItem)" type="button" style="border: none;" class="add_to_cart"
                        [innerText]="IsOrdering ? '...' : 'Order'"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>