*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* in styles.css or styles.scss */

:root {
  --box-shadow: 0.5px 0.5px 6px rgba(221, 216, 216, 0.637);
  --primary_color: #fd2b2b;
  --black_color: #080808;
  --white_color: #ffff;
  --footer_color: #f0f0f0e8;
  --footer_social_icon_color: #fff9f9e8;

  /* container widht responsive */
  --container_width_lg: 80%;
  --container_width_md: 98%;
  --container_width_sm: 100%;
}

@media screen and (max-width: 1100px) {
  /* ============home=================== */
  .home .left {
    width: 47%;
  }
  .home .left .home_desc {
    width: 100%;
  }

  /* ================food menu============= */
  .food_menu ul .menu_nav {
    width: 25rem;
  }

  /* =================testimonials=================== */
  .testimonials .right {
    height: 70%;
    padding: 0.5rem;
  }

  .testimonials_bg::after {
    right: 30%;
    left: unset;
  }

  .testimonials .left h2 {
    font-size: 2rem;
  }

  .testimonials .customer_profile .profile_details h2 {
    font-size: 1rem;
  }
}

.icon {
  font-size: 1.8rem !important;
}

.eye-icon {
  font-size: 1.8rem !important;
  fill: var(--white_color) !important;
}

.hover {
  cursor: pointer;
}

.cartBtn {
  background: transparent;
  border: none;
  outline: none;
}

.cartBtn:hover {
  border: none !important;
  outline: none !important;
}

.cartBtn:focus {
  border: none !important;
  outline: none !important;
}

.link {
  text-decoration: none;
}

/* ===================media responsive for tablets======================== */
@media screen and (max-width: 1100px) {
  nav,
  .home,
  .food_menu,
  .testimonials,
  .blog_container,
  .footer {
    width: var(--container_width_md);
    padding: 1rem;
  }
}
/* 
======================navbar-================================== */
